mat-card {
  padding: 50px;
}
.form-element {
  width: 500px;
}
.add-student-container{
  padding: 20px;
}

mat-form-field {
  min-width: 100%;
}

h3 {
  text-align: center;
  color: black;
}

button {
  margin: 5px;
}